.Modal {
  z-index: 25;
  width: auto;
  height: auto;
  background: none;
  position: fixed;
  top:-100%;
  left: -50%;
  transform: translatex( -50% );
  margin-bottom: 5rem;
  border-radius: 4px;
  -webkit-box-shadow: 0px 10px 13px -7px #000000, 0px -1px 15px 0px #000000;
  box-shadow: 0px 10px 13px -7px #000000, 0px -1px 15px 0px #000000;

  animation-name: slideIn;
  animation-delay: 0.2s;
  animation-duration: 1s;
  animation-direction: normal;
  animation-fill-mode: forwards;
}

.close{
  z-index: 25;
  width: auto;
  height: auto;
  background: none;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  margin-bottom: 5rem;
  border-radius: 4px;
  -webkit-box-shadow: 0px 10px 13px -7px #000000, 0px -1px 15px 0px #000000;
  box-shadow: 0px 10px 13px -7px #000000, 0px -1px 15px 0px #000000;

  animation-name: slideOut;
  animation-duration: 1s;
  animation-direction: normal;
  animation-fill-mode: forwards;

}


@keyframes slideIn {
  0% {
    top:-100%;
    left: 50%;
    transform: translatex( -50% );
  }

  100% {
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
}

@keyframes slideOut {
  0% {
    top: 50%;
    left: 50%;
    transform: translatex( -50%, -50% );
  }

  100% {
    left: 50%;
    top: -50%;
    transform: translate(-50%, -50%);
}
}