.profile {
  padding: 0.5rem;
  width: 40rem;
  height: 40rem;
  background: #1a1919;
  color: #d0e4f7;
  display: flex;
  flex-direction: column;
  border-radius: 4px;
  position: relative;

  & #close {
    position: absolute;
    top: 1rem;
    right: 1rem;
    font-weight: bold;
    color: #971b1b;
    cursor: pointer;

    &:hover {
      color: lighten(#971b1b, 15%);
    }
  }

  & .row1 {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 50%;
    padding: 0.5rem;

    & .col1 {
      display: flex;
      flex-direction: column;
      width: 50%;
      height: 100%;
      padding: 0.5rem;

      & img {
        margin: auto;
        height: 12rem;
        width: 12rem;
        background: #fff;
        border-radius: 4px;
      }
    }

    & .col2 {
      display: flex;
      flex-direction: column;
      width: 50%;
      height: 100%;
      padding: 0.5rem 1.5rem;
      font-size: 1.6rem;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;

      label {
        text-decoration: underline;
      }
    }
  }

  & .row2 {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 50%;

    & .col1 {
      display: flex;
      flex-direction: column;
      width: 50%;
      height: 100%;
      padding: 0.5rem;
      padding-top: 5rem;

      & button {
        width: 12rem;
        height: 2.2rem;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 0.5rem;
        border-radius: 4px;
        border: 1px solid #d0e4f7;
        color: #d0e4f7;
        outline: none;
        background: linear-gradient(120deg, #d86214 10%, #d81476 80%);

        &:hover {
          transform: scale(1.05);
          transition: 0.3s;
          cursor: pointer;
        }
      }
    }

    & .col2 {
      display: flex;
      flex-direction: column;
      width: 50%;
      height: 100%;
      position: relative;
      padding: 0.5rem;
      font-size: 1.2rem;

      & .change {
        display: flex;
        flex-direction: column;
        position: relative;
        height: 100%;
        position: relative;

        & img {
          width: 8rem;
          height: 8rem;
          margin-top: 3rem;
          margin-right: auto;
          margin-left: auto;
        }

        & input {
          width: 70%;
          outline: none;
          height: 1.5rem;
        }

        & .submit {
          width: 8rem;
          height: 1.7rem;
          position: absolute;
          bottom: 0rem;
          left: 50%;
          transform: translateX(-50%);
          border-radius: 4px;
          border: 1px solid #fff;
          outline: none;
          background: linear-gradient(120deg, #d86214 10%, #d81476 80%);
          color: #d0e4f7;

          &:hover {
            cursor: pointer;
            background: linear-gradient(
              120deg,
              lighten(#d86214, 10%) 10%,
              lighten(#d81476, 10%) 80%
            );
          }

          &:disabled {
            background: linear-gradient(
              120deg,
              darken(#d86214, 30%) 10%,
              darken(#d81476, 30%) 80%
            );
          }
        }
      }

      & .lines {
        border-left: 1px solid #fff;
        height: 100%;
        padding: 0.5rem;

        & hr {
          margin-top: -1rem;
          margin-bottom: 0.5rem;
        }
      }
    }
  }
}
