*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
  background: #e2e2e2;
}

.material-icons.md-18 {
  font-size: 18px;
}
.material-icons.md-24 {
  font-size: 24px;
}
.material-icons.md-36 {
  font-size: 36px;
}
.material-icons.md-48 {
  font-size: 48px;
}
.material-icons.md-60 {
  font-size: 60px;
}

.gmnoprint {
  visibility: hidden;
}

.gm-control-active {
  visibility: visible !important;
  color: red;
}

.gm-style {
  pointer-events: all !important;
}
