.section {
  margin-top: 25rem !important;
  padding: 2rem;
  width: 20rem;
  height: 100%;
  margin: auto;
  position: static;
  display: flex;
  background: #e2e2e2;
  background: rgb(216, 214, 214);
  justify-content: space-between;
  border: 2px solid rgb(56, 55, 55);
  padding: .5rem 1rem 1rem 1rem;
  -webkit-box-shadow: 0px 8px 15px -4px rgba(0, 0, 0, 0.9);
  box-shadow: 0px 8px 15px -4px rgba(0, 0, 0, 0.9);
  border-radius: 4px;
  
  & .container{
    height: 10rem;
    text-align: center;

    & h2{
      margin-right: .5rem !important;
    }

    & .form{
      padding: .5rem 0rem;
    }
  }

  & input {
    border: none;
    border-bottom: 2px solid #000;
    margin: 0.3rem 2rem;
    padding: 0.5rem;
    border-radius: 4px 4px 0px 0px;
    background: none;

    &:hover {
      background: #fff;
    }
    &:focus {
      outline: none;
      border: none;
      border-bottom: 2px solid #000;
      background: #fff;
    }
  }

  & .submit {
    margin-top: 2rem !important;
    padding: 0.4rem 1.5rem;
    text-align: center !important;
    margin-left: 2rem;
    margin-right:2rem;
    border-radius: 4px;
    border: 1.5px solid rgb(138, 202, 78);
    background: rgb(63, 112, 17);
    color: #fff;
    font-weight: 600;
    -webkit-box-shadow: 0px 8px 15px -9px rgba(0, 0, 0, 0.9);
    box-shadow: 0px 8px 15px -9px rgba(0, 0, 0, 0.9);

    &:hover {
      cursor: pointer;
      background: lighten(rgb(63, 112, 17), 5%);
    }

    &:active {
      outline: none;
      transform: scale(0.95);
    }

    &:focus {
      outline: none;
    }

    &:disabled {
      background: rgb(231, 229, 229);
      border: 1.5px solid rgb(46, 45, 45);
      color: rgb(46, 45, 45);

      &:hover {
        background: rgb(231, 229, 229);
        text-decoration: none;
        pointer-events: none;
      }
    }
  }
}
